<link rel="stylesheet" href="./public/css/proyecto.css"/>
    <script src="./public/js/jquery.min.js"></script>
    <script src="./public/js/bjqs.min.js"></script>
     <script src="./public/js/script.js"></script>


<div data-role="header" data-theme="b" >
  <img src="Logo.svg" width="100px">
</div>
</br>
</br>

<body>
  <!-- SLIDESHOW -->

<div id="slider">
   <ul class="bjqs">
       <li>
           <img src="css/ludus.jpg" alt="" title="Somos Distribuidores De los principales productos de la Wizards Of the coast " />
       </li>
       <li>
           <img src="img/slider1.jpg" alt="" title="WotC es la Compañia mas grande en TCG a Nivel Mundial." />
       </li>
       <li>
           <img src="img/slider2.jpg" alt="" title="Magic, es uno de los TCG Mas jugados a Nivel Mundial. " />
       </li>
       <li>
           <img src="img/slider3.jpg" alt="" title="D&D se volvio famoso por ser un Juego de Role que disfrutas con tus amigos." />
       </li>
        </ul>
</div>
</body>
<div data-role="footer" data-position="fixed" data-theme="b">
      <h2>Todos Los Derechos Reservados 2015</h2>


  </div>
