
  <div data-role="header" data-theme="b" >
    <img src="Logo.svg" width="100px">
  </div>
</br>
</br>
</br>
</br></br></br>
<div data-role="fieldcontaind" data-theme="a">
<label for="textinput-hide" class="ui-hidden-accessible">Nombre de Usuario</label>
<input type"text" name="texinput-hide" placeholder="Nombre de Usuario" value="">
<input type="password" name="password" placeholder="contraseña" id="password" value="" autocomplete="off">
</br>
</br>
<button type="submit" id="submit-5" class="ui-shadow ui-btn ui-corner-all ">Iniciar Sesion</button>
</div>

<div data-role="footer" data-position="fixed" data-theme="b">
      <h2>Todos Los Derechos Reservados 2015</h2>


  </div>
