<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/leaflet.css" />
    <link rel="stylesheet" href="./css/jquery.mobile-1.4.5.min.css" />
    <script src="./js/lib/jquery-2.1.4.min.js"></script>
    <script src="./js/lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="./js/lib/leaflet.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
