<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi;"/>
    <link rel="stylesheet" href="./css/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="./css/leaflet.css" />
    <script src="./js/lib/jquery-2.1.4.min.js"></script>
    <script src="./js/lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="./js/lib/leaflet.js"></script>
    <style>.ui-content {
                position: absolute;
                top: 40px;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 0 !important;
            }

            #map {
                height: 100%;
            }
    </style>
  </head>
  <body>
    <div data-role="page" id="index">
    {{{body}}}
    </div>
  </body>
</html>
