<div data-theme="b" data-role="header">
      <img src="Logo.svg" width="70px">
</div>

<div data-role="content">

<div id="map"></div>
</div>
<script src="./js/application.js"></script>
<div data-role="panel" data-position="right" data-display="overlay" data-theme="a" id="mypanel">
  <h2 id="nombreLocal">Panel Header</h2>
  <p id="descripcion">g</p>
  <p id="puntos">g</p>
  <h3>Menu</h3>
  <ul data-role="listview" data-inset="true" data-theme="c" id="preciosLocales" class=""></ul>
  <a href="#mypanel" id="back" data-theme="a" data-role="button"  data-mini="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-icon-left">
    <span class="ui-btn-inner ui-btn-corner-all">
      <span class="ui-btn-text">Regresar</span>
    </span>
  </a>
  <a href="#mypanel" id="like" data-theme="a" data-role="button"  data-mini="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-icon-left">
    <span class="ui-btn-inner ui-btn-corner-all">
      <span class="ui-btn-text">Like</span>
    </span>
  </a>
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
      <h2>Todos Los Derechos Reservados 2015</h2>

  </div>
