<div class="wrapper">
  <header>
    <h1>La Champa</h1>
  </header>

  <div class="app">
    <div id="infobox" class="infobox"></div>
    <div id="map">To get this app to work you need to share your geolocation.</div>
  </div>
  <script src="./js/application.js"></script>
</div>
